.menu-izquierdo {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 9999;
}

.menu-izquierdo:hover {
  width: 300px;
}

.menu-izquierdo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-izquierdo ul li {
  padding: 10px;
}

.menu-izquierdo ul li a {
  color: #fff;
  text-decoration: none;
}
.modo-oscuro {
  background-color: #1f1f1f;
  color: #ffffff;
}

.modo-oscuro a {
  color: #ffffff;
}
.modo-oscuro .navbar {
  background-color: #333;
  color: #fff;
}

.modo-oscuro .navbar a {
  color: #fff;
}
